@{
    Layout = "_Layout";
}

@section Scripts {
    <title>Questionniaire answers</title>
    <script src="/lib/zip.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/dx/dx.all.js"></script>
    <script src="/lib/dx/dx.aspnet.data.js"></script>
    <script src="/js/answerJournal.js"></script>
    <link rel="stylesheet" type="text/css" href="/lib/dx/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="/lib/dx/grey.css" />
}

<h1>View user responses</h1>
    <div id="grid"></div>
<script>
        document.addEventListener("DOMContentLoaded", (event) => {
            console.log("DOM fully loaded and parsed");
        });

</script>


