@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
@* <script src="/lib/vue.js"></script> *@
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
@section Scripts {
    <title>Questionniaire answers</title>
    <script src="/js/answerJournal.js" asp-append-version="true"></script>
}

<h1>View responses</h1>

<div id="app" style="display: flex;flex-direction: column;width: 450px;">
     <div style="display: flex;;align-items:center">
        <div style="width: 100px;margin-left:15px">Date:</div>
        from<input id="d1From" type="date" v-model="from" style="margin:3px">
        to<input id="d1To" type="date" v-model="to" style="margin:3px">
        <button @@click="FindDate()" style="margin:3px">Find</button>
    </div>
 

</div>
    <div id="grid"></div>
<script type="module">

    const App = {
        mixins: [baseMixin],
        data() {
            return {

                from: null,
                to: null
            }

        }
        ,
        methods: {
            FindDate() {
                localStorage.setItem('dateFrom', this.from);
                localStorage.setItem('dateTo', this.to);
                const pathEnd = "/AnswerJournal/SetFilter";
                const data = { from: this.from, to: this.to };
                this.fetch(this.Ok, pathEnd, data)
            },
            Ok() {
                console.log("ok")
                var dataGrid = $('#grid').dxDataGrid('instance');
                dataGrid.refresh()
            }
        },
        mounted() {
//            console.log(localStorage.getItem('dateFrom'))
//            console.log(localStorage.getItem('dateTo'))
            this.from = localStorage.getItem('dateFrom')
            this.to = localStorage.getItem('to')
            dataGrid.refresh()
        }

    }

    Vue.createApp(App).mount('#app')



</script>


