@{
    Layout = "_Layout";
}

@section Scripts {
    <title>Questionniaire answers</title>
    <script src="/js/answerJournal.js"></script>
}

<h1>View responses</h1>
    <div id="grid"></div>
<script>
        document.addEventListener("DOMContentLoaded", (event) => {
            console.log("DOM fully loaded and parsed");
        });

</script>


