<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true"

      >

	<targets>
		<target xsi:type="File" name="infoFile" fileName="C:/info/log.csv"                           layout="${shortdate};${date:format=HH\:mm\:ss};${message}" />
		<target xsi:type="File" name="sqlFile" fileName="C:/info/sqlLog${shortdate}.log"             layout="${date:format=HH\:mm\:ss};${message}"/>		
		<target xsi:type="File" name="file" fileName="C:/tmp/corelogs/${shortdate}.log"              layout="${level} | ${date:format=HH\:mm\:ss.fff} | ${logger} | ${message}" />
		<target xsi:type="File" name="ErrorFile" fileName="C:/tmp/corelogs/Errors_${shortdate}.log"  layout="${level} | ${date:format=HH\:mm\:ss.fff} | ${message}" />
	</targets>

	<rules>
		<logger name="*" Level="Info"  writeTo="infoFile" >
			<filters defaultAction='Log'>
				<when condition="not contains('${logger}','BLL.Answer2Model')" action="Ignore" />
			</filters>
		</logger>
		<logger name="*" Level="Info"  writeTo="sqlFile" >
			<filters defaultAction='Log'>
				<when condition="not contains('${logger}','Microsoft.EntityFrameworkCore.Database.Command')" action="Ignore" />
			</filters>
		</logger>		
		<logger name="*" MinLevel="Debug"  writeTo="file" />
		<logger name="*" MinLevel="Error"  writeTo="ErrorFile" />
	</rules>
</nlog>