<!DOCTYPE html>
<html>
<head>
	@{
		ViewBag.Title = "Questionnaire";
	//	Layout = "~/Views/Shared/_LayoutEmpty.cshtml";

		//Layout = "~/Views/Shared/_SamplesLayout.cshtml";
	}
	<meta charset="utf-8" />
	<title></title>
	<link href="~/Scripts/vue-apps/css_questionnaire/app.css" rel="preload" as="style">
	<link href="~/Scripts/vue-apps/css_questionnaire/chunk-vendors.css" rel="preload" as="style">

	<link href="~/Scripts/vue-apps/css_questionnaire/chunk-vendors.css" rel="stylesheet">
	<link href="~/Scripts/vue-apps/css_questionnaire/app.css" rel="stylesheet">

</head>
<body>


	<div id="app"></div>
	<script>
		const Id = '@ViewBag.Id'
		const SessionId = '@ViewBag.sessionId'
		let Mode = '@ViewBag.Mode';
		console.log(SessionId)
	</script>

	<script src="~/Scripts/vue-apps/questionnaire/js/chunk-vendors.js"></script>
	<script src="~/Scripts/vue-apps/questionnaire/js/app.js"></script>


</body>
</html>


