@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
	@{
		ViewBag.Title = "Questionnaire";
	}
	<meta charset="utf-8" />
	<title></title>
	<link href="~/Scripts/vue-apps/css_questionnaire/app.css" rel="preload" as="style" asp-append-version="true">
	<link href="~/Scripts/vue-apps/css_questionnaire/chunk-vendors.css" rel="preload" as="style" asp-append-version="true">

	<link href="~/Scripts/vue-apps/css_questionnaire/chunk-vendors.css" rel="stylesheet" asp-append-version="true">
	<link href="~/Scripts/vue-apps/css_questionnaire/app.css" rel="stylesheet" asp-append-version="true">

</head>
<body>


	
	<script>
		const Id = '@ViewBag.Id'
		const SessionId = '@ViewBag.sessionId'
		const Lang = '@ViewBag.Lang'

</script>
    <script>

		window.addEventListener("error", (event) => {

			console.log(event.type + '  ' + event.message + '  ' + event.lineno + '  ' + event.colno + '    ' + event.filename)
		
			console.log('ошибка');

			//alert(msg + "\n" + url + "\n" + "\n" + line);
			// const data = { session: SessionId, message: event.message, url: event.filename, line: event.lineno,col:event.colno };
			//  console.log(data)
			// const path = document.location.origin + '/sendError
			// const json = JSON.stringify(data);
			// fetch(path,
			// 	{
			// 		method: 'POST', // *GET, POST, PUT, DELETE, etc.
			// 		mode: 'no-cors', // no-cors, *cors, same-origin
			// 		body: json, //sending data
			// 		referrer: 'unsafe-url',
			// 		headers: {
			// 			'Content-Type': 'application/json'
			// 		}
			// 	})
			// 	.catch(error => {

			// 		console.error("Error while getting server data: " + path + ' :' + error)
					
			// 	});

			return true;
		})
    </script>

    <div id="app"></div>
	<script src="~/Scripts/vue-apps/questionnaire/js/chunk-vendors.js" asp-append-version="true"></script>
	<script src="~/Scripts/vue-apps/questionnaire/js/app.js" asp-append-version="true"></script>
	<script src="/js/userCounter.js" asp-append-version="true"></script>


</body>
</html>


