<!DOCTYPE html>
<html>
<head>
	@{
		ViewBag.Title = "Questionnaire";
	}
	<meta charset="utf-8" />
	<title></title>
	<link href="~/Scripts/vue-apps/css_questionnaireEdit/app.css" rel="preload" as="style">
	<link href="~/Scripts/vue-apps/css_questionnaireEdit/chunk-vendors.css" rel="preload" as="style">

	<link href="~/Scripts/vue-apps/css_questionnaireEdit/chunk-vendors.css" rel="stylesheet">
	<link href="~/Scripts/vue-apps/css_questionnaireEdit/app.css" rel="stylesheet">

</head>
<body>


	<div id="app"></div>
	<script>
		const Id = '@ViewBag.Id'
		const SessionId = '@ViewBag.sessionId'
	</script>

	<script src="~/Scripts/vue-apps/questionnairåEdit/js/chunk-vendors.js"></script>
	<script src="~/Scripts/vue-apps/questionnairåEdit/js/app.js"></script>


</body>
</html>


