.noprint {
  margin: 10px 0 0 20px; }

.plate-table, .plate-table-info {
  position: relative;
  margin: 0 auto; }

.plate-table-info .error {
  color: red; }

.plate-table .cell,
.plate-table .empty-cell {
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  height: 44px;
  width: 44px;
  margin: 6px 2px;
  text-align: center; }

.plate-table .cell .cell-content {
  display: block;
  position: relative;
  text-align: center; }

.plate-table .cell .cell-pos,
.plate-table .cell .cell-num {
  float: left;
  width: 50%;
  /*padding: 10px;*/
  overflow: hidden; }

.plate-table .cell .cell-pos > span,
.plate-table .cell .cell-num > span,
.plate-table .cell .cell-content > span {
  display: inline-block;
  /*margin-top: 4px;*/
  font-size: 10px;
  overflow: hidden; }

.plate-table .cell .cell-content > span {
  /*height: 30px;*/
  line-height: 1.5; }

.cell-info {
  box-sizing: border-box;
  display: block;
  line-height: 1; }

/* Clear floats after the columns */
.cell-info:after {
  content: "";
  display: table;
  clear: both; }

.plate-table .empty-cell {
  border: 1px solid transparent;
  cursor: auto;
  padding-top: 14px; }

.plate-table .cell:hover {
  color: #000;
  background-color: #fbc08c;
  border: 1px solid #fbc08c; }

.sold {
  color: #fff;
  background-color: #f78119;
  border: 1px solid #f78119 !important; }

.sold:hover {
  color: #fff !important;
  background-color: #f78119 !important;
  border: 1px solid #f78119 !important; }

/*.screen {
	position: relative;
	display: table;
	left: 50%;
	margin: 36px -113px;
}

.screen .screen-line {
	width: 176px;
	height: 8px;
	background-color: #e0e0e0;
}

.screen .text {
	text-align: center;
	font-size: 14px;
	margin-bottom: 3px;
}*/
.seats {
  display: table;
  position: relative;
  width: 350px;
  margin: 0 auto; }

.seats .seat,
.seats .emptySeat {
  cursor: pointer;
  position: relative;
  border-radius: 2px;
  border: 1px solid #e0e0e0;
  height: 24px;
  width: 24px;
  float: left;
  margin: 6px 2px;
  text-align: center; }

.seats .emptySeat {
  border: 1px solid transparent;
  cursor: auto; }

.seats .seat:hover {
  color: #000;
  background-color: #fbc08c;
  border: 1px solid #fbc08c; }

.seats .seat > span {
  display: inline-block;
  margin-top: 4px;
  font-size: 10px; }

/* override styles when printing */
@media print {
  .noprint {
    visibility: hidden;
    display: none; } }
