@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html lang="en-us" style="--inner1Vh: 9.66px; --sbw: 15px;">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <base href=".">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Help us find new treatments for eczema and earn $400</title>
  <meta name="description" content="">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Help us find new treatments for eczema and earn $400">
  <meta property="og:image:type" content="image/png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta name="twitter:card" content="summary_large_image">
    <link href="~/css/footer.css" rel="stylesheet" asp-append-version="true" />

  <style>
    :root {
      --ffsd: 0px;
      --1vw: calc((100vw - var(--sbw, 0px)) / 100);
      --1vh: var(--inner1Vh, 1vh);
    }

    @@media (prefers-reduced-motion: reduce) {
      .animated {
        animation: none !important;
      }
    }

    html {
      zoom: var(--rzf, 1);
      font-size: max(calc(min(var(--1vw, 1vw), 13.66px) * var(--rfso, 1)), var(--minfs, 0px));
      -webkit-text-size-adjust: 100%;
      scroll-behavior: smooth;
    }

    body {
      font-size: calc(1rem * var(--bfso, 1));
    }

    body,
    html,
    p,
    ul,
    ol,
    li {
      margin: 0;
      padding: 0;
      font-synthesis: none;
      font-kerning: none;
      font-variant-ligatures: none;
      font-feature-settings: "kern" 0, "calt" 0, "liga" 0, "clig" 0, "dlig" 0, "hlig" 0;
      font-family: unset;
      -webkit-font-smoothing: subpixel-antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: geometricprecision;
      white-space: normal;
    }

    li {
      text-align: unset;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    img {
      -webkit-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
      -webkit-touch-callout: none;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/98aed3b349458a8d156efce96bc5d9d7.woff2);
      font-style: normal;
      font-weight: 400;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/4726124a828759239125c3278c6c0b49.woff2);
      font-style: normal;
      font-weight: 700;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/3cef07d7a4bb3aa7e32c1a58ad5a01c2.woff2);
      font-style: italic;
      font-weight: 400;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/c173477352c9ca4cb0c79e5bf0909290.woff2);
      font-style: italic;
      font-weight: 700;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/98aed3b349458a8d156efce96bc5d9d7.woff2);
      font-style: normal;
      font-weight: 100;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/3cef07d7a4bb3aa7e32c1a58ad5a01c2.woff2);
      font-style: italic;
      font-weight: 100;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/98aed3b349458a8d156efce96bc5d9d7.woff2);
      font-style: normal;
      font-weight: 200;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/3cef07d7a4bb3aa7e32c1a58ad5a01c2.woff2);
      font-style: italic;
      font-weight: 200;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/98aed3b349458a8d156efce96bc5d9d7.woff2);
      font-style: normal;
      font-weight: 300;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/3cef07d7a4bb3aa7e32c1a58ad5a01c2.woff2);
      font-style: italic;
      font-weight: 300;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/98aed3b349458a8d156efce96bc5d9d7.woff2);
      font-style: normal;
      font-weight: 500;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/3cef07d7a4bb3aa7e32c1a58ad5a01c2.woff2);
      font-style: italic;
      font-weight: 500;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/4726124a828759239125c3278c6c0b49.woff2);
      font-style: normal;
      font-weight: 600;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/c173477352c9ca4cb0c79e5bf0909290.woff2);
      font-style: italic;
      font-weight: 600;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/4726124a828759239125c3278c6c0b49.woff2);
      font-style: normal;
      font-weight: 800;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/c173477352c9ca4cb0c79e5bf0909290.woff2);
      font-style: italic;
      font-weight: 800;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/4726124a828759239125c3278c6c0b49.woff2);
      font-style: normal;
      font-weight: 900;
    }

    @@font-face {
      font-family: YAFcfuZZeUg-0;
      src: url(fonts/c173477352c9ca4cb0c79e5bf0909290.woff2);
      font-style: italic;
      font-weight: 900;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(/fonts/58b2543abe9187bb7f592b6bcdbf20d7.woff2);
      font-style: normal;
      font-weight: 400;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/58f54a311b5a192a877760be1fb967f0.woff2);
      font-style: normal;
      font-weight: 700;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/7fc196620a6aa1a3fc96d0e4afd399c2.woff2);
      font-style: italic;
      font-weight: 400;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/fd7ead69e11ee1524ab39d21dd5b2895.woff2);
      font-style: italic;
      font-weight: 700;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/edc5ef6407f2e2e0713337f40bb724fd.woff2);
      font-style: normal;
      font-weight: 100;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/2c4fcd6fc24a087cc0c8ff02cf8b5192.woff2);
      font-style: italic;
      font-weight: 100;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/edc5ef6407f2e2e0713337f40bb724fd.woff2);
      font-style: normal;
      font-weight: 200;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/2c4fcd6fc24a087cc0c8ff02cf8b5192.woff2);
      font-style: italic;
      font-weight: 200;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/edc5ef6407f2e2e0713337f40bb724fd.woff2);
      font-style: normal;
      font-weight: 300;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/2c4fcd6fc24a087cc0c8ff02cf8b5192.woff2);
      font-style: italic;
      font-weight: 300;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/090eec0b04c884d45c94e4bf7323abee.woff2);
      font-style: normal;
      font-weight: 500;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/88f43e190f2d63cb35893c4c40d52c7e.woff2);
      font-style: italic;
      font-weight: 500;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/a0efd1b7e3b07721952090abbbc06704.woff2);
      font-style: normal;
      font-weight: 600;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/a9ba116a1550a7bb068e6f55ac5cc438.woff2);
      font-style: italic;
      font-weight: 600;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/1008e08acb59657af13d7240eb373a33.woff2);
      font-style: normal;
      font-weight: 800;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/def419ea5339a2679ef14ecab0d3557a.woff2);
      font-style: italic;
      font-weight: 800;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/1008e08acb59657af13d7240eb373a33.woff2);
      font-style: normal;
      font-weight: 900;
    }

    @@font-face {
      font-family: YAFdJt8dAY0-1;
      src: url(fonts/def419ea5339a2679ef14ecab0d3557a.woff2);
      font-style: italic;
      font-weight: 900;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
      font-style: normal;
      font-weight: 400;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/98c4d2c0223fc8474641c77f923528e9.woff2);
      font-style: normal;
      font-weight: 700;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/d257a7100844bc3f98c9021168b6249e.woff2);
      font-style: italic;
      font-weight: 400;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/1060345c54d396e76d73f1da7ee200bd.woff2);
      font-style: italic;
      font-weight: 700;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
      font-style: normal;
      font-weight: 100;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/d257a7100844bc3f98c9021168b6249e.woff2);
      font-style: italic;
      font-weight: 100;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
      font-style: normal;
      font-weight: 200;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/d257a7100844bc3f98c9021168b6249e.woff2);
      font-style: italic;
      font-weight: 200;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
      font-style: normal;
      font-weight: 300;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/d257a7100844bc3f98c9021168b6249e.woff2);
      font-style: italic;
      font-weight: 300;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/f8f199f09526f79e87644ed227e0f651.woff2);
      font-style: normal;
      font-weight: 500;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/d257a7100844bc3f98c9021168b6249e.woff2);
      font-style: italic;
      font-weight: 500;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/98c4d2c0223fc8474641c77f923528e9.woff2);
      font-style: normal;
      font-weight: 600;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/1060345c54d396e76d73f1da7ee200bd.woff2);
      font-style: italic;
      font-weight: 600;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/98c4d2c0223fc8474641c77f923528e9.woff2);
      font-style: normal;
      font-weight: 800;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/1060345c54d396e76d73f1da7ee200bd.woff2);
      font-style: italic;
      font-weight: 800;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/98c4d2c0223fc8474641c77f923528e9.woff2);
      font-style: normal;
      font-weight: 900;
    }

    @@font-face {
      font-family: YACgEZ1cb1Q-0;
      src: url(fonts/1060345c54d396e76d73f1da7ee200bd.woff2);
      font-style: italic;
      font-weight: 900;
    }

    @@media (max-width: 375px) {
      #JacHkItOiHv7yQzr {
        grid-area: 2 / 2 / 3 / 3;
        position: relative;
      }

      #oBf1PcPdQnz4zBUY {
        grid-template-columns: 0 351.59975852%;
        left: -125.79987926%;
        grid-template-rows: 0 100%;
      }

      #aEaIYaWTjE4NHR1a {
        display: none;
      }

      #VMrrz628A3bjdAr9 {
        display: none;
      }

      #G1nSmBYOvT7DFj3y {
        display: none;
      }

      #VvD2RuQvzgj9gHaG {
        display: none;
      }

      #e8DAOM4a1C55uQyS {
        display: block;
      }

      #RsKOYO9cfvu4Pdl5 {
        grid-area: 2 / 2 / 5 / 5;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: -4.26666667rem;
        right: -4.26666667rem;
        clip-path: polygon(0% calc((0 * 91.46666667rem) + 0%), 100% calc((0 * 91.46666667rem) + 0%), 100% calc(100% - ((0 * 91.46666667rem) + 0%)), 0% calc(100% - ((0 * 91.46666667rem) + 0%)));
        margin-left: 0%;
        margin-right: -1.08046559%;
        margin-bottom: 0%;
        margin-top: 0%;
      }

      #dFZ3gUaGZlMAWMwN {
        grid-area: 3 / 3 / 4 / 4;
        position: relative;
      }

      #xqW44ovYRHIzqt9k {
        grid-area: 2 / 2 / 3 / 4;
        grid-template-columns: 0 6.4rem 57.59243188rem 27.47423479rem;
        grid-template-rows: 0 minmax(5.2950519rem, max-content) minmax(22.09087698rem, max-content) minmax(5.2950519rem, max-content);
      }

      #e8alvDW5PvjCFDA3 {
        grid-area: 2 / 2 / 3 / 4;
        position: relative;
      }

      #G32Z2W8DcjZiRtp1 {
        font-size: max(calc(12px * var(--rfso, var(--bfso, 1))), calc(5.26223467em - var(--ffsd)));
      }

      #ABu5Y682mpy7p2dN {
        --first-font-size: max(calc(12px * var(--rfso, var(--bfso, 1))), 5.26223467em);
        --last-font-size: var(--first-font-size);
        margin-top: calc(var(--first-font-size) * -0.1);
        margin-bottom: calc(var(--last-font-size) * -0.1);
      }

      #r8lTaQthvlDGiyW3 {
        min-width: 91.6rem;
      }

      #mgx5FC9NBtwtahQv {
        grid-area: 4 / 3 / 5 / 5;
        position: relative;
      }

      #FBq2SJ2upE2ReofE {
        grid-template-columns: 4.26666667rem 0 91.46666667rem 0 4.26666667rem;
        grid-template-rows: 0 minmax(32.68098078rem, max-content) minmax(57.84346988rem, max-content) minmax(18.76277354rem, max-content) minmax(88.39111733rem, max-content);
      }

      #QXgxG6DKnlQ8mLGx {
        min-height: calc(63.74182604 * var(--1vh, 1vh));
      }

      #uPQbgvt9Zo3xrWFv {
        grid-area: 2 / 2 / 3 / 3;
        position: relative;
      }

      #GxvSAG5eq2Zc8sLQ {
        grid-template-columns: 0 100%;
        grid-template-rows: 0 100%;
      }

      #cUEJd0cVCmIiSUdh {
        grid-template-columns: 100rem;
        grid-template-rows: minmax(56.22254758rem, max-content);
      }

      #Nne9Bu8zDnSZpTJa {
        min-height: calc(18.12908698 * var(--1vh, 1vh));
      }

      #g81mhRiXyf5b9cnn {
        grid-area: 2 / 2 / 3 / 3;
        position: relative;
      }

      #fAkA24a9fttqqb0z {
        grid-template-columns: 0 100%;
        grid-template-rows: 0 100%;
      }

      #pPPZiDAsnNt3WLCh {
        grid-template-columns: 100rem;
        grid-template-rows: minmax(56.22254758rem, max-content);
      }

      #CKaYaGYzPLEGZQUe {
        min-height: calc(18.12908698 * var(--1vh, 1vh));
      }
    }

    @@media (min-width: 375.05px) and (max-width: 480px) {
      #JacHkItOiHv7yQzr {
        grid-area: 2 / 2 / 3 / 3;
        position: relative;
      }

      #oBf1PcPdQnz4zBUY {
        grid-template-columns: 0 282.66857625%;
        left: -91.33428812%;
        grid-template-rows: 0 100%;
      }

      #aEaIYaWTjE4NHR1a {
        display: none;
      }

      #VMrrz628A3bjdAr9 {
        display: none;
      }

      #G1nSmBYOvT7DFj3y {
        display: none;
      }

      #VvD2RuQvzgj9gHaG {
        display: block;
      }

      #e8DAOM4a1C55uQyS {
        display: none;
      }

      #RsKOYO9cfvu4Pdl5 {
        grid-area: 2 / 2 / 5 / 5;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: -3.33333333rem;
        right: -3.33333333rem;
        clip-path: polygon(0% calc((0 * 93.33333333rem) + 0%), 100% calc((0 * 93.33333333rem) + 0%), 100% calc(100% - ((0 * 93.33333333rem) + 0%)), 0% calc(100% - ((0 * 93.33333333rem) + 0%)));
        margin-left: 0%;
        margin-right: -1.08046559%;
        margin-bottom: 0%;
        margin-top: 0%;
      }

      #dFZ3gUaGZlMAWMwN {
        grid-area: 3 / 3 / 4 / 4;
        position: relative;
      }

      #xqW44ovYRHIzqt9k {
        grid-area: 2 / 2 / 3 / 4;
        grid-template-columns: 0 5rem 44.99408741rem 43.33924593rem;
        grid-template-rows: 0 minmax(4.1367593rem, max-content) minmax(17.25849764rem, max-content) minmax(4.1367593rem, max-content);
      }

      #e8alvDW5PvjCFDA3 {
        grid-area: 2 / 2 / 3 / 4;
        position: relative;
      }

      #G32Z2W8DcjZiRtp1 {
        font-size: max(calc(12px * var(--rfso, var(--bfso, 1))), calc(4.84232869em - var(--ffsd)));
      }

      #ABu5Y682mpy7p2dN {
        --first-font-size: max(calc(12px * var(--rfso, var(--bfso, 1))), 4.84232869em);
        --last-font-size: var(--first-font-size);
        margin-top: calc(var(--first-font-size) * -0.1);
        margin-bottom: calc(var(--last-font-size) * -0.1);
      }

      #r8lTaQthvlDGiyW3 {
        min-width: 93.4375rem;
      }

      #mgx5FC9NBtwtahQv {
        grid-area: 4 / 3 / 5 / 5;
        position: relative;
      }

      #FBq2SJ2upE2ReofE {
        grid-template-columns: 3.33333333rem 0 93.33333333rem 0 3.33333333rem;
        grid-template-rows: 0 minmax(25.53201624rem, max-content) minmax(45.19021085rem, max-content) minmax(19.14568729rem, max-content) minmax(69.05556042rem, max-content);
      }

      #QXgxG6DKnlQ8mLGx {
        min-height: calc(58.56369985 * var(--1vh, 1vh));
      }

      #uPQbgvt9Zo3xrWFv {
        grid-area: 2 / 2 / 3 / 3;
        position: relative;
      }

      #GxvSAG5eq2Zc8sLQ {
        grid-template-columns: 0 100%;
        grid-template-rows: 0 100%;
      }

      #cUEJd0cVCmIiSUdh {
        grid-template-columns: 100rem;
        grid-template-rows: minmax(56.22254758rem, max-content);
      }

      #Nne9Bu8zDnSZpTJa {
        min-height: calc(20.71815008 * var(--1vh, 1vh));
      }

      #g81mhRiXyf5b9cnn {
        grid-area: 2 / 2 / 3 / 3;
        position: relative;
      }

      #fAkA24a9fttqqb0z {
        grid-template-columns: 0 100%;
        grid-template-rows: 0 100%;
      }

      #pPPZiDAsnNt3WLCh {
        grid-template-columns: 100rem;
        grid-template-rows: minmax(56.22254758rem, max-content);
      }

      #CKaYaGYzPLEGZQUe {
        min-height: calc(20.71815008 * var(--1vh, 1vh));
      }
    }

    @@media (min-width: 480.05px) and (max-width: 768px) {
      #JacHkItOiHv7yQzr {
        grid-area: 2 / 2 / 3 / 3;
        position: relative;
      }

      #oBf1PcPdQnz4zBUY {
        grid-template-columns: 0 185.27560764%;
        left: -42.63780382%;
        grid-template-rows: 0 100%;
      }

      #aEaIYaWTjE4NHR1a {
        display: none;
      }

      #VMrrz628A3bjdAr9 {
        display: none;
      }

      #G1nSmBYOvT7DFj3y {
        display: block;
      }

      #VvD2RuQvzgj9gHaG {
        display: none;
      }

      #e8DAOM4a1C55uQyS {
        display: none;
      }

      #RsKOYO9cfvu4Pdl5 {
        grid-area: 2 / 2 / 5 / 5;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: -4.16666667rem;
        right: -4.16666667rem;
        clip-path: polygon(0% calc((0 * 91.66666667rem) + 0%), 100% calc((0 * 91.66666667rem) + 0%), 100% calc(100% - ((0 * 91.66666667rem) + 0%)), 0% calc(100% - ((0 * 91.66666667rem) + 0%)));
        margin-left: 0%;
        margin-right: -1.08046559%;
        margin-bottom: 0%;
        margin-top: 0%;
      }

      #dFZ3gUaGZlMAWMwN {
        grid-area: 3 / 3 / 4 / 4;
        position: relative;
      }

      #xqW44ovYRHIzqt9k {
        grid-area: 2 / 2 / 3 / 4;
        grid-template-columns: 0 4.16666667rem 28.12130463rem 59.37869537rem;
        grid-template-rows: 0 minmax(3.10630789rem, max-content) minmax(10.78656103rem, max-content) minmax(3.10630789rem, max-content);
      }

      #e8alvDW5PvjCFDA3 {
        grid-area: 2 / 2 / 3 / 4;
        position: relative;
      }

      #G32Z2W8DcjZiRtp1 {
        font-size: max(calc(12px * var(--rfso, var(--bfso, 1))), calc(4.51391927em - var(--ffsd)));
      }

      #ABu5Y682mpy7p2dN {
        --first-font-size: max(calc(12px * var(--rfso, var(--bfso, 1))), 4.51391927em);
        --last-font-size: var(--first-font-size);
        margin-top: calc(var(--first-font-size) * -0.1);
        margin-bottom: calc(var(--last-font-size) * -0.1);
      }

      #r8lTaQthvlDGiyW3 {
        min-width: 91.73177083rem;
      }

      #mgx5FC9NBtwtahQv {
        grid-area: 4 / 3 / 5 / 5;
        position: relative;
      }

      #FBq2SJ2upE2ReofE {
        grid-template-columns: 4.16666667rem 0 91.66666667rem 0 4.16666667rem;
        grid-template-rows: 0 minmax(16.99917682rem, max-content) minmax(28.24388178rem, max-content) minmax(16.93929546rem, max-content) minmax(41.98431262rem, max-content);
      }

      #QXgxG6DKnlQ8mLGx {
        min-height: calc(48.08910919 * var(--1vh, 1vh));
      }

      #uPQbgvt9Zo3xrWFv {
        grid-area: 2 / 2 / 3 / 3;
        position: relative;
      }

      #GxvSAG5eq2Zc8sLQ {
        grid-template-columns: 0 100%;
        grid-template-rows: 0 100%;
      }

      #cUEJd0cVCmIiSUdh {
        grid-template-columns: 100rem;
        grid-template-rows: minmax(56.22254758rem, max-content);
      }

      #Nne9Bu8zDnSZpTJa {
        min-height: calc(25.95544541 * var(--1vh, 1vh));
      }

      #g81mhRiXyf5b9cnn {
        grid-area: 2 / 2 / 3 / 3;
        position: relative;
      }

      #fAkA24a9fttqqb0z {
        grid-template-columns: 0 100%;
        grid-template-rows: 0 100%;
      }

      #pPPZiDAsnNt3WLCh {
        grid-template-columns: 100rem;
        grid-template-rows: minmax(56.22254758rem, max-content);
      }

      #CKaYaGYzPLEGZQUe {
        min-height: calc(25.95544541 * var(--1vh, 1vh));
      }
    }

    @@media (min-width: 768.05px) and (max-width: 1024px) {
      #JacHkItOiHv7yQzr {
        grid-area: 2 / 2 / 3 / 3;
        position: relative;
      }

      #oBf1PcPdQnz4zBUY {
        grid-template-columns: 0 137.27802049%;
        left: -18.63901024%;
        grid-template-rows: 0 100%;
      }

      #aEaIYaWTjE4NHR1a {
        display: none;
      }

      #VMrrz628A3bjdAr9 {
        display: block;
      }

      #G1nSmBYOvT7DFj3y {
        display: none;
      }

      #VvD2RuQvzgj9gHaG {
        display: none;
      }

      #e8DAOM4a1C55uQyS {
        display: none;
      }

      #RsKOYO9cfvu4Pdl5 {
        grid-area: 2 / 2 / 5 / 5;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: -3.125rem;
        right: -3.125rem;
        clip-path: polygon(0% calc((0 * 93.75rem) + 0%), 100% calc((0 * 93.75rem) + 0%), 100% calc(100% - ((0 * 93.75rem) + 0%)), 0% calc(100% - ((0 * 93.75rem) + 0%)));
        margin-left: 0%;
        margin-right: -1.08046559%;
        margin-bottom: 0%;
        margin-top: 0%;
      }

      #dFZ3gUaGZlMAWMwN {
        grid-area: 3 / 3 / 4 / 4;
        position: relative;
      }

      #xqW44ovYRHIzqt9k {
        grid-area: 2 / 2 / 3 / 4;
        grid-template-columns: 0 3.125rem 21.09097847rem 69.53402153rem;
        grid-template-rows: 0 minmax(2.32973092rem, max-content) minmax(8.08992077rem, max-content) minmax(2.32973092rem, max-content);
      }

      #e8alvDW5PvjCFDA3 {
        grid-area: 2 / 2 / 3 / 4;
        position: relative;
      }

      #G32Z2W8DcjZiRtp1 {
        font-size: max(calc(12px * var(--rfso, var(--bfso, 1))), calc(3.38543945em - var(--ffsd)));
      }

      #ABu5Y682mpy7p2dN {
        --first-font-size: max(calc(12px * var(--rfso, var(--bfso, 1))), 3.38543945em);
        --last-font-size: var(--first-font-size);
        margin-top: calc(var(--first-font-size) * -0.1);
        margin-bottom: calc(var(--last-font-size) * -0.1);
      }

      #r8lTaQthvlDGiyW3 {
        min-width: 93.79882812rem;
      }

      #mgx5FC9NBtwtahQv {
        grid-area: 4 / 3 / 5 / 5;
        position: relative;
      }

      #FBq2SJ2upE2ReofE {
        grid-template-columns: 3.125rem 0 93.75rem 0 3.125rem;
        grid-template-rows: 0 minmax(12.74938261rem, max-content) minmax(21.18291133rem, max-content) minmax(9.3166125rem, max-content) minmax(33.93229395rem, max-content);
      }

      #QXgxG6DKnlQ8mLGx {
        min-height: calc(40.70173926 * var(--1vh, 1vh));
      }

      #uPQbgvt9Zo3xrWFv {
        grid-area: 2 / 2 / 3 / 3;
        position: relative;
      }

      #GxvSAG5eq2Zc8sLQ {
        grid-template-columns: 0 100%;
        grid-template-rows: 0 100%;
      }

      #cUEJd0cVCmIiSUdh {
        grid-template-columns: 100rem;
        grid-template-rows: minmax(56.22254758rem, max-content);
      }

      #Nne9Bu8zDnSZpTJa {
        min-height: calc(29.64913037 * var(--1vh, 1vh));
      }

      #g81mhRiXyf5b9cnn {
        grid-area: 2 / 2 / 3 / 3;
        position: relative;
      }

      #fAkA24a9fttqqb0z {
        grid-template-columns: 0 100%;
        grid-template-rows: 0 100%;
      }

      #pPPZiDAsnNt3WLCh {
        grid-template-columns: 100rem;
        grid-template-rows: minmax(56.22254758rem, max-content);
      }

      #CKaYaGYzPLEGZQUe {
        min-height: calc(29.64913037 * var(--1vh, 1vh));
      }
    }

    @@media (min-width: 1024.05px) {
      #JacHkItOiHv7yQzr {
        grid-area: 2 / 2 / 3 / 3;
        position: relative;
      }

      #oBf1PcPdQnz4zBUY {
        grid-template-columns: 0 100%;
        grid-template-rows: 0 100%;
      }

      #aEaIYaWTjE4NHR1a {
        display: block;
      }

      #VMrrz628A3bjdAr9 {
        display: none;
      }

      #G1nSmBYOvT7DFj3y {
        display: none;
      }

      #VvD2RuQvzgj9gHaG {
        display: none;
      }

      #e8DAOM4a1C55uQyS {
        display: none;
      }

      #RsKOYO9cfvu4Pdl5 {
        grid-area: 2 / 2 / 5 / 5;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: calc(min(1366px - 100vw, 0px) / 2);
        right: calc(min(1366px - 100vw, 0px) / 2);
        clip-path: polygon(0% calc((0 * 100rem) + 0%), 100% calc((0 * 100rem) + 0%), 100% calc(100% - ((0 * 100rem) + 0%)), 0% calc(100% - ((0 * 100rem) + 0%)));
        margin-left: 0%;
        margin-right: -1.08046559%;
        margin-bottom: 0%;
        margin-top: 0%;
      }

      #dFZ3gUaGZlMAWMwN {
        grid-area: 3 / 3 / 4 / 4;
        position: relative;
      }

      #xqW44ovYRHIzqt9k {
        grid-area: 2 / 2 / 3 / 5;
        grid-template-columns: 0 0.94098482rem 15.81051388rem 83.2485013rem;
        grid-template-rows: 0 minmax(0.84455001rem, max-content) minmax(6.06447941rem, max-content) minmax(0.30573471rem, max-content);
      }

      #e8alvDW5PvjCFDA3 {
        grid-area: 2 / 2 / 3 / 5;
        position: relative;
      }

      #G32Z2W8DcjZiRtp1 {
        font-size: max(calc(12px * var(--rfso, var(--bfso, 1))), calc(2.53784041em - var(--ffsd)));
      }

      #ABu5Y682mpy7p2dN {
        --first-font-size: max(calc(12px * var(--rfso, var(--bfso, 1))), 2.53784041em);
        --last-font-size: var(--first-font-size);
        margin-top: calc(var(--first-font-size) * -0.1);
        margin-bottom: calc(var(--last-font-size) * -0.1);
      }

      #r8lTaQthvlDGiyW3 {
        min-width: 48.95213953rem;
      }

      #mgx5FC9NBtwtahQv {
        grid-area: 4 / 3 / 5 / 4;
        position: relative;
      }

      #FBq2SJ2upE2ReofE {
        grid-template-columns: 0 25.54223184rem 48.91553631rem 25.54223184rem;
        grid-template-rows: 0 minmax(7.21476412rem, max-content) minmax(15.87942987rem, max-content) minmax(10.03415959rem, max-content) minmax(23.094194rem, max-content);
      }

      #QXgxG6DKnlQ8mLGx {
        min-height: calc(33.33333333 * var(--1vh, 1vh));
      }

      #uPQbgvt9Zo3xrWFv {
        grid-area: 2 / 2 / 3 / 3;
        position: relative;
      }

      #GxvSAG5eq2Zc8sLQ {
        grid-template-columns: 0 100%;
        grid-template-rows: 0 100%;
      }

      #cUEJd0cVCmIiSUdh {
        grid-template-columns: 100rem;
        grid-template-rows: minmax(56.22254758rem, max-content);
      }

      #Nne9Bu8zDnSZpTJa {
        min-height: calc(33.33333333 * var(--1vh, 1vh));
      }

      #g81mhRiXyf5b9cnn {
        grid-area: 2 / 2 / 3 / 3;
        position: relative;
      }

      #fAkA24a9fttqqb0z {
        grid-template-columns: 0 100%;
        grid-template-rows: 0 100%;
      }

      #pPPZiDAsnNt3WLCh {
        grid-template-columns: 100rem;
        grid-template-rows: minmax(56.22254758rem, max-content);
      }

      #CKaYaGYzPLEGZQUe {
        min-height: calc(33.33333333 * var(--1vh, 1vh));
      }
    }

    @@keyframes pulse {
      0% {
        background-color: rgba(226, 226, 226, 0.05);
      }

      50% {
        background-color: rgba(226, 226, 226, 0.1);
      }

      100% {
        background-color: rgba(226, 226, 226, 0.05);
      }
    }
  </style>
  <noscript>
    <style>
      @@keyframes pulse {}

      .animated {
        animation-play-state: running !important;
      }
    </style>
  </noscript>

</head>

<body>
  <div id="root" style="height:100%">
    <section id="QXgxG6DKnlQ8mLGx"
      style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;">
      <div id="oBf1PcPdQnz4zBUY"
        style="grid-area:1 / 1 / 2 / 4;display:grid;position:absolute;min-height:100%;min-width:100%;">
        <div id="JacHkItOiHv7yQzr" style="z-index:0;">
          <div id="xJ5c3zJuY5bSSwEO" style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
            <div id="eWEsNrEgseAB9eaN" style="width:100%;height:100%;opacity:1.0;">
              <div id="fPBEi888Z0JsBdGm"
                style="background-color:#3d4492;opacity:1.0;transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="FBq2SJ2upE2ReofE" style="display:grid;position:relative;grid-area:1 / 2 / 2 / 3;">
        <div id="e8alvDW5PvjCFDA3">
          <div id="xqW44ovYRHIzqt9k" style="display:grid;position:relative;">
            <div id="RsKOYO9cfvu4Pdl5" style="z-index:1;">
              <div id="AsjanVITHwggn8dY" style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
                <svg id="aEaIYaWTjE4NHR1a" viewBox="0 0 383.5442 27.376" preserveAspectRatio="none"
                  style="width:100%;height:100%;opacity:1.0;overflow:hidden;position:absolute;top:0%;left:0%;background:url(&#39;data:image/png;base64,&#39;);">
                  <g id="BObaBJKrrddoHia8" style="transform:scale(1, 1);">
                    <path id="ATrtWEqmAbRtbmjg" d="M0,0 L383.5442111,0 L383.5442111,27.37602165 L0,27.37602165 Z"
                      style="fill:#ffffff;opacity:1.0;"></path>
                  </g>
                </svg><svg id="VMrrz628A3bjdAr9" viewBox="0 0 269.5479 36.2649" preserveAspectRatio="none"
                  style="width:100%;height:100%;opacity:1.0;overflow:hidden;position:absolute;top:0%;left:0%;background:url(&#39;data:image/png;base64,&#39;);">
                  <g id="BbXWQ8pZ0UYEsuRI" style="transform:scale(1, 1);">
                    <path id="uKK7ePyabpcMJKLA" d="M0,0 L269.54790824,0 L269.54790824,36.26491054 L0,36.26491054 Z"
                      style="fill:#ffffff;opacity:1.0;"></path>
                  </g>
                </svg><svg id="G1nSmBYOvT7DFj3y" viewBox="0 0 197.6685 36.2649" preserveAspectRatio="none"
                  style="width:100%;height:100%;opacity:1.0;overflow:hidden;position:absolute;top:0%;left:0%;background:url(&#39;data:image/png;base64,&#39;);">
                  <g id="qr7Z3a7MFNbD50qY" style="transform:scale(1, 1);">
                    <path id="XY6XMUXvpNuRDMUf" d="M0,0 L197.66846604,0 L197.66846604,36.26491054 L0,36.26491054 Z"
                      style="fill:#ffffff;opacity:1.0;"></path>
                  </g>
                </svg><svg id="VvD2RuQvzgj9gHaG" viewBox="0 0 125.789 34.0427" preserveAspectRatio="none"
                  style="width:100%;height:100%;opacity:1.0;overflow:hidden;position:absolute;top:0%;left:0%;background:url(&#39;data:image/png;base64,&#39;);">
                  <g id="Zk6fMhomMdH5vtOQ" style="transform:scale(1, 1);">
                    <path id="ws9gf3IUL1GvpIOQ" d="M0,0 L125.78902385,0 L125.78902385,34.04268832 L0,34.04268832 Z"
                      style="fill:#ffffff;opacity:1.0;"></path>
                  </g>
                </svg><svg id="e8DAOM4a1C55uQyS" viewBox="0 0 96.3072 34.0427" preserveAspectRatio="none"
                  style="width:100%;height:100%;opacity:1.0;overflow:hidden;position:absolute;top:0%;left:0%;background:url(&#39;data:image/png;base64,&#39;);">
                  <g id="JPoui39SPKACjk60" style="transform:scale(1, 1);">
                    <path id="SPAoevX8oLRfG1EJ" d="M0,0 L96.30722138,0 L96.30722138,34.04268832 L0,34.04268832 Z"
                      style="fill:#ffffff;opacity:1.0;"></path>
                  </g>
                </svg></div>
            </div>
            <div id="dFZ3gUaGZlMAWMwN" style="z-index:2;">
              <div id="yYrB28hmog9Gr1Jy" style="padding-top:38.35725678%;transform:rotate(0deg);">
                <div id="yJ3vDL3kcJPCJxDW" style="position:absolute;top:0px;left:0px;width:100%;height:100%;">
                  <div id="XpDjZDAd88bUn2GR" style="width:100%;height:100%;opacity:1.0;">
                    <div id="jn7s3CbtCBzJV5Ry"
                      style="transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
                      <div id="kdizk9W5lZI7SfNT"
                        style="width: calc(100% * max(1, var(--scale-fill, 1))); height: calc(100% / min(1, var(--scale-fill, 1))); position: absolute; top: 50%; left: 50%; opacity: 1; animation: auto ease 0s 1 normal none running none;">
                        <img src="/End_files/96b514b741930bfb2eda43c44661935e.png" loading="lazy"
                          style="width:100%;height:100%;display:block;object-fit:cover;object-position:50% 50%;transform:translate(-50%, -50%) rotate(0deg);">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="mgx5FC9NBtwtahQv" style="z-index:3;">
          <div id="r8lTaQthvlDGiyW3" style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
            <div id="ABu5Y682mpy7p2dN"
              style="opacity:1.0;display:flex;box-sizing:border-box;flex-direction:column;justify-content:flex-start;width:100%;height:100%;">
              <p id="G32Z2W8DcjZiRtp1"
                style="color:#ffffff;font-family:YAFdJt8dAY0-1;line-height:1.38460607em;text-align:center;"><span
                  id="Km67dcpMHsomVIF3" style="color:#ffffff;">Thank you for your response! A member of our team will
                  reach out to you within one business day. </span></p>
            </div>
          </div>
        </div>
      </div>
    </section>
        @*     <section id="Nne9Bu8zDnSZpTJa"
      style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;margin-top:-1px;">
      <div id="GxvSAG5eq2Zc8sLQ"
        style="grid-area:1 / 1 / 2 / 4;display:grid;position:absolute;min-height:100%;min-width:100%;">
        <div id="uPQbgvt9Zo3xrWFv" style="z-index:0;">
          <div id="qvPyDWC8EqdaB1zC" style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
            <div id="xG34E47zanGEpSHH" style="width:100%;height:100%;opacity:1.0;">
              <div id="eVWS1LeilMcH1ql8"
                style="background-color:#3d4492;opacity:1.0;transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="cUEJd0cVCmIiSUdh" style="display:grid;position:relative;grid-area:1 / 2 / 2 / 3;"></div>
    </section>
    <section id="CKaYaGYzPLEGZQUe"
      style="position:relative;overflow:hidden;display:grid;align-items:center;grid-template-columns:auto 100rem auto;z-index:0;margin-top:-1px;">
      <div id="fAkA24a9fttqqb0z"
        style="grid-area:1 / 1 / 2 / 4;display:grid;position:absolute;min-height:100%;min-width:100%;">
        <div id="g81mhRiXyf5b9cnn" style="z-index:0;">
          <div id="LwLR1N8r9hz2teTt" style="box-sizing:border-box;width:100%;height:100%;transform:rotate(0deg);">
            <div id="rSV4fg3lKpvLO1Yw" style="width:100%;height:100%;opacity:1.0;">
              <div id="ytqlEl2Ty7uPF9vT"
                style="background-color:#3d4492;opacity:1.0;transform:scale(1, 1);width:100%;height:100%;overflow:hidden;position:relative;">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="pPPZiDAsnNt3WLCh" style="display:grid;position:relative;grid-area:1 / 2 / 2 / 3;"></div>
    </section> *@
  </div>

    <div class="footer-overflow-container" lang="en-en">
        <div class="footer-container">
            <img src="/images/physioseqWhite.png" style="height:73px;"></img>
            <a href="http://instagram.com/norcaldermtrials/"> <img src="/images/Instagram_logo_2016.svg.png" style="height:53px;"></img></a>
        </div>
    </div>
    </body ></html >