@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHttpContextAccessor httpContextAccessor
@{
    string UserName = httpContextAccessor?.HttpContext?.User?.Identity?.Name;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Questionnaire</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> 
    <link rel="stylesheet" href="~/MVC.styles.css" asp-append-version="true" /> 
   
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="/lib/zip.js"></script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/dx/dx.all.js"></script>
    <script src="/lib/dx/dx.aspnet.data.js"></script>
    <script src="~/js/dxBase.js" asp-append-version="true"></script>
    <link rel="stylesheet" type="text/css" href="/lib/dx/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="/lib/dx/grey.css" />

    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                 <img src="/Content/Images/logos/logo_1.svg" style="height:30px;margin-right:20px" />
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AnswerJournal" asp-action="Index">Answer Journal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="HitCounter" asp-action="Index">Hit counter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="UserJournal" asp-action="Index">Users</a>
                        </li>
                    </ul>
                </div>
                <div>User:@UserName</div>
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
            </div>
        </nav>
    </header>@* style="width:100%" class="pb-3"*@
    <div  style="width:100%;margin:5px">
        <main role="main" >
            @RenderBody()
        </main>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
