@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Admin Page";
}
@{
    Layout = "_Layout";
}

@section Scripts {
    <title>Questionniaires List</title>
    <script src="../../../lib/jquery/dist/jquery.min.js"></script>
    <script src="../../../Scripts/dx.all.js"></script>
    <script src="../../../Scripts/dx.aspnet.data.js"></script>
    <script src="../../../js/questionniaireJournal.js"></script>
    <link rel="stylesheet" type="text/css" href="../../../Content/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="../../../Content/grey.css" />
}

<h1>Questionniaires List</h1>
<div id="grid"></div>
<div class="text-left">

    <a class="nav-link text-lite" asp-area="" asp-controller="Home" asp-action="Download">Download setting file</a>
    <form asp-area="" asp-controller="Home" asp-action="Upload"
          enctype="multipart/form-data" onsubmit="AJAXSubmit(this);return false;"
          method="post">

        <input class="btn btn-secondary" type="submit" value="Upload file" />  
        <input id="FileUpload_FormFile" type="file" name="FileUpload.FormFile"  />

        <div style="margin-top:15px">
            <output style="color:red" name="result"></output>
        </div>
    </form>

  
</div>
<script>
    async function AJAXSubmit(oFormElement) {
        console.log(oFormElement)
        var resultElement = oFormElement.elements.namedItem("result");
        const formData = new FormData(oFormElement);

        try {
            const response = await fetch(oFormElement.action, {
                method: 'POST',
                body: formData
            });

            resultElement.value = 'Result: ' + response.status + ' ' +  response.statusText;
            var answer = response.json().then(x => {
                console.log(x)
                console.log(x.error);
                resultElement.value = x.error;
            }
           );
            
           

        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>